<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'dashboard' | translate }}
        </a>
        <a routerLink="/schedule" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-calendar"></i> Schedule
        </a>
        <a routerLink="/scenario" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-camera"></i>&nbsp;Scenario
        </a>
        <a routerLink="/runner" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-play-circle"></i>&nbsp;Runner
        </a>
        <a routerLink="/gen-tables" [routerLinkActive]="['router-link-active']" class="list-group-item">
            <i class="fa fa-fw fa-table"></i>&nbsp;Gen Tables
        </a>
    </ul>
</nav>
