<div *ngFor="let scenarioModel of scenarioModels" class="row">
    <div class="col-sm-12 col-xl-8">
        <div class="card card-default mb-3">
            <div class="card-header">
                <div class="card-header-name">
                    <editable-element [(value)]="scenarioModel.name"
                                      (valueChange)="updateScenario(scenarioModel)"></editable-element>
                </div>
                <div class="card-header-dates">
                    <div class="card-header-date">
                        created: {{scenarioModel.createdAt | date: dateFormat }}
                    </div>
                    <div class="card-header-date">
                        updated: {{scenarioModel.updatedAt | date: dateFormat }}
                    </div>
                </div>
            </div>
            <div class="card-block">
                <div class="row" *ngFor="let scenarioScriptModel of scenarioModel.scenarioScripts | orderBy: 'index'; let i = index">
                    <div class="col-sm-12 drop-placeholder"
                         *ngIf="i === 0" droppable
                         (onDrop)="changeIndex($event, scenarioScriptModel.index)"></div>
                    <div class="col-sm-12" draggable [dragData]="scenarioScriptModel" #script >
                        <!-- script card -->
                        <script-component [script]="getScriptById(scenarioScriptModel.id)"
                                          (scriptChange)="updateScript(script)">
                        </script-component>
                        <!-- /script card -->
                    </div>
                    <div class="col-sm-12 drop-placeholder"
                         droppable (onDrop)="changeIndex($event, scenarioScriptModel.index + 1)"></div>
                </div>
                <!--<div class="row" *ngIf="creatingNewScenario">-->
                    <!---->
                <!--</div>-->
            </div>
        </div>
    </div>
</div>

<button class="btn btn-danger" (click)="log()">LOG</button>
