<div *ngFor="let scenarioModel of scenarioModels" class="row">
    <div class="col-sm-8">
        <div class="card card-default mb-3">
            <div class="card-header">
                <div class="row">
                    <span class="col-sm-8">
                        <editable-element [(value)]="scenarioModel.name"></editable-element>
                    </span>
                    <span class="col-sm-4 pull-right small color-gray">
                        {{scenarioModel.createdAt | date: dateFormat }}
                    </span>
                </div>
            </div>
            <div class="card-block">
                <!-- script card -->
                <div *ngFor="let scenarioScriptModel of scenarioModel.scenarioScripts | orderBy: 'index'"
                     class="row">
                    <div class="col-sm-12">
                        <div class="card card-default mb-3">
                            <div class="card-header">
                            <span>
                                <editable-element [(value)]="getScriptById(scenarioScriptModel.id).name"></editable-element>
                            </span>
                                <span class="pull-right small color-gray">
                                {{getScriptById(scenarioScriptModel.id).createdAt | date: dateFormat }}
                            </span>
                            </div>
                            <div class="card-block">
                                <editable-element [(value)]="getScriptById(scenarioScriptModel.id).sequence" [type]="typeEnum.textArea"></editable-element>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /script card -->
            </div>
        </div>
    </div>
</div>

<button class="btn btn-danger" (click)="log()">LOG</button>
