<table class="table table-sm">
    <thead class="thead-default">
    <tr>
        <th>Column Name</th>
        <th>Type</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let columnDefinition of tableDefinition.columnDefinitions">
        <td>
            <editable-element [(value)]="columnDefinition.name" (valueChange)="updateTableDefinition()">
            </editable-element>
        </td>
        <td>
            <editable-element [(value)]="columnDefinition.type" (valueChange)="updateTableDefinition()">
            </editable-element>
        </td>
        <td>
            <button class="btn btn-sm btn-outline-danger" (click)="deleteColumnDefinition(columnDefinition)">
                <i class="fa fa-trash"></i>
            </button>
        </td>
    </tr>
    <tr *ngFor="let columnDefinitionToAdd of columnDefinitionsToAdd">
        <td>
            <editable-element [(value)]="columnDefinitionToAdd.name">
            </editable-element>
        </td>
        <td>
            <editable-element [(value)]="columnDefinitionToAdd.type">
            </editable-element>
        </td>
        <td>
            <div class="btn-group">
                <button class="btn btn-sm btn-outline-danger" (click)="deleteColumnDefinitionToAdd(columnDefinitionToAdd)">
                    <i class="fa fa-trash"></i>
                </button>
                <button class="btn btn-sm btn-outline-success" (click)="createColumnDefinition(columnDefinitionToAdd)">
                    <i class="fa fa-check"></i>
                </button>
            </div>
        </td>
    </tr>
    </tbody>
</table>

<div class="btn-group">
    <button class="btn btn-sm btn-outline-primary" (click)="addColumnDefinition()">
        <i class="fa fa-plus"></i> add column
    </button>
    <button class="btn btn-sm btn-outline-success"
            *ngIf="this.columnDefinitionsToAdd.length > 0"
            (click)="createColumnDefinitions()">
        <i class="fa fa-check"></i> apply
    </button>
</div>
