<table class="table table-sm">
    <thead class="thead-default">
    <tr>
        <th *ngFor="let columnDefinition of tableDefinition.columnDefinitions">
            <span>
                {{columnDefinition.name}}
            </span>
            <span class="small">
                {{columnDefinition.type}}
            </span>
        </th>
        <th>Actions
            <button class="btn btn-sm"
                    [class.btn-danger]="isDeletingEnabled"
                    [class.btn-outline-danger]="!isDeletingEnabled"
                    (click)="isDeletingEnabled = !isDeletingEnabled">
                {{isDeletingEnabled ? 'Disable deleting' : 'Enable deleting'}}
            </button>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of rows | orderBy:'ID'">
        <td *ngFor="let columnDefinition of tableDefinition.columnDefinitions">
            <editable-element [(value)]="row[columnDefinition.name]" (valueChange)="updateValue(row, columnDefinition.name)">
            </editable-element>
        </td>
        <td>
            <div class="btn-group">
                <button class="btn btn-sm btn-outline-danger"
                        [disabled]="!isDeletingEnabled"
                        (click)="deleteRow(row)">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
        </td>
    </tr>
    <tr *ngFor="let rowToCreate of rowsToCreate">
        <td *ngFor="let columnDefinition of tableDefinition.columnDefinitions">
            <editable-element [(value)]="rowToCreate[columnDefinition.name]">
            </editable-element>
        </td>
        <td>
            <div class="btn-group">
                <button class="btn btn-sm btn-outline-success" (click)="createRow(rowToCreate)">
                    <i class="fa fa-check"></i>
                </button>
                <button class="btn btn-sm btn-outline-danger" (click)="deleteRowToCreate(rowToCreate)">
                    <i class="fa fa-trash"></i>
                </button>
            </div>
        </td>
    </tr>
    <tr>
        <td [colSpan]="tableDefinition.columnDefinitions.length + 1">
            <div class="btn-group">
                <button class="btn btn-sm btn-outline-primary" (click)="addRow()">
                    <i class="fa fa-plus"></i> add row
                </button>
                <button class="btn btn-sm btn-outline-success"
                        *ngIf="rowsToCreate.length > 0"
                        (click)="createAllRowsToCreate()">
                    <i class="fa fa-check"></i> apply
                </button>
                <button class="btn btn-sm btn-outline-danger"
                        *ngIf="rowsToCreate.length > 0"
                        (click)="deleteAllRowsToCreate()">
                    <i class="fa fa-check"></i> cancel
                </button>
            </div>
            <app-gen-tables-crud-bulk-adding (rowsGenerated)="handleRowsGenerated($event)">
            </app-gen-tables-crud-bulk-adding>
        </td>
    </tr>
    </tbody>
</table>
