.card-header {
    display: flex;
    justify-content: space-between;
}

.card-header-name {
    max-width: calc(100% - 150px);
    width: 100%;
}

.card-header-dates {
    font-size: 0.7em;
    justify-self: flex-end;
}
