// common
.pre {
    white-space: pre;
}

// font size
.fs-12 {
    font-size: 12px;
}

// font colors
.color-dark-gray {
    color: $gray-dark;
}

.color-gray {
    color: $gray;
}

.color-gray-light {
    color: $gray-light;
}
