<table *ngIf="threads && scenarios" class="table table-sm">
    <thead class="thead-default">
    <tr>
        <th>Scenario</th>
        <th>Schedule</th>
        <th>Errors</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let thread of getThreads()">
        <tr>
            <td><span *ngIf="getScenarioById(thread.scenarioId)">{{getScenarioById(thread.scenarioId).name}}</span></td>
            <td><span *ngIf="getScheduleById(thread.scheduleId)">{{getScheduleById(thread.scheduleId).name}}</span></td>
            <td>
                <span *ngIf="thread.scenarioExceptions && thread.scenarioExceptions.length > 0">
                    <i class="fa fa-2x fa-exclamation-circle text-danger"></i>
                </span>
            </td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-sm btn-outline-primary" (click)="openDetails(thread.runningThread)">
                        <i class="fa fa-search"></i></button>
                    <button class="btn btn-sm btn-outline-danger" (click)="stopThread(thread)">
                        <i class="fa fa-trash"></i></button>
                </div>
            </td>
        </tr>
        <tr *ngIf="watchingDetails(thread.runningThread)">
            <td colspan="3">
                <app-details-runner
                    *ngIf="getScenarioById(thread.scenarioId)"
                    [scenario]="getScenarioById(thread.scenarioId)"
                    [thread]="thread">
                </app-details-runner>
            </td>
        </tr>
    </ng-container>
    </tbody>
</table>
