<div *ngFor="let scenario of scenarios; let scenarioIndex = index" class="row">
    <div class="col-sm-12 col-xl-8">
        <app-scenario-details [full]="false"
                              [loadFromOutside]="true"
                              [scenario]="scenario"
                              [scenarioScripts]="scenarioScripts"
                              [scripts]="scripts"
                              (scenarioChange)="loadData()" >
        </app-scenario-details>
    </div>
</div>
<div class="pull-right">
    <div class="btn-group" role="group">
        <button class="btn btn-secondary" (click)="createScenario()">New Scenario</button>
    </div>
</div>

<button class="btn btn-danger" (click)="log()">LOG</button>

