<div class="card card-default mb-3">
    <div class="card-header">
        <div class="card-header-name">
            <editable-element
                [(value)]="script.name" (valueChange)="updateScript()">
            </editable-element>
        </div>
        <div class="card-header-dates">
            <div class="card-header-date">
                created: {{script.createdAt | date: dateFormat }}
            </div>
            <div class="card-header-date">
                updated: {{script.updatedAt | date: dateFormat }}
            </div>
        </div>
        <div class="btn-group" *ngIf="removable || deletable">
            <button class="btn btn-outline-danger" (click)="delete()" *ngIf="deletable"><i class="fa fa-trash"></i></button>
            <button class="btn btn-outline-danger" (click)="remove()" *ngIf="removable"><i class="fa fa-minus"></i></button>
        </div>
    </div>
    <div class="card-block">
        <editable-element [(value)]="script.sequence"
                          (valueChange)="updateScript(script)"
                          [type]="typeEnum.codeMirror"></editable-element>
    </div>
</div>
